body {
    font-family: Arial, sans-serif;
    background-color: #FFB131;
}

#container {
    width: 750px;
    margin: auto;
    background: white;
    border-bottom: 5px solid black;
}

/* Nav */
#nav {
    list-style: none;
    text-align: center;
    padding: 0;
}

#nav li {
    display: inline;
}

#nav a {
    text-decoration: none;
    font-weight: bold;
    color: #FFB131;
    padding: 0 24px;
    line-height: 32px;
}

/* Content */
#content {
    padding: 0 24px;
}

#content h1,
#content h2 {
    text-decoration: underline;
}

/* Join section */
#join {
    float: right;
    font-size: 190%;
    background-color: #FBC57B;
    padding: 12px;
    margin: 16px;
}

/* Logo */
#logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Footer */
footer {
    font-family: "Times New Roman", serif;
    font-size: 10pt;
}